/* Header specific styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.header-logo {
  height: 60px; /* Adjusted size to match the inline style */
  margin-bottom: 8px;
}

.centered-menu {
  flex-grow: 1;
  text-align: center;
}

.dashboard-menu {
  display: flex;
  margin-left: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}


.content {
  flex-grow: 1;
  padding: 16px;
  overflow-y: auto;
}

.sidebar {
  width: 240px;
  background-color: #f4f4f4; /* Adjust as needed */
  overflow-y: auto; /* Enable scrolling within the sidebar */
}


